* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter";
}
.add-primary-color {
  background-color: #111928;
  color: white;
  padding: 0 45px;
}
.add-secondary-color {
  padding: 0 45px;
  background-color: #374151;
  color: white;
}
.navigation {
  font-family: "Inter";
  display: flex;
  padding-top: 24px;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  font-family: "Inter";
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 32px;
}

.nav-item {
  margin-right: 25px;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 16px;
}
.logo {
  font-family: "Inter";
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 2em;
}
.nav-bar span {
  font-family: "Inter";
}
.first-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a56db;
  color: white;
  gap: 8px;
  padding: 10px 20px;
  border-radius: 8px;
}

.first-section {
  display: flex;
  justify-content: space-around;
  padding: 96px;
}
.first-section-container {
  display: flex;
  justify-content: space-between;
}

.first-section-left p {
  font-size: 20px;
  color: #9ca3af;
  font-weight: 400;
  font-family: Inter;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.first-section-left h1 {
  font-size: 48px;
  font-weight: 800;
}
.two-buttons {
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  gap: 16px;
  padding: 32px 0px;
}
.button-blue {
  color: #9ca3af;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--primary-700, #1a56db);
  padding: 10px 20px;
}
.button-grey {
  color: #9ca3af;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  background: var(--gray-800, #1f2a37);
  border: 1px solid var(--gray-600, #4b5563);
}
.second-section {
  display: flex;
  justify-content: center;
  padding-bottom: 96px;
}
.stats-section {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 24px 16px;
  background-color: #1f2a37;
  border: 1px solid #374151;
  border-radius: 8px;
  gap: 10px;
  width: 1024px;
}
.stat {
  flex: 1;
  border-right: 1px solid #374151;
}
.stat-1 {
  flex: 1;
}
.third-section {
  display: flex;
  justify-content: space-around;
}
.text-green h2 {
  align-self: stretch;
  font-size: 36px;
  font-weight: 800;
  line-height: 125%;
}
.text-green p {
  color: #9ca3af;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.button-blue-second {
  background-color: #1a56db;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  border-radius: 8px;
}
.forth-section {
  display: flex;
  justify-content: space-around;
}
.forth-section-right img {
  width: 540.46px;
  height: 406.78px;
  border-radius: 8px;
}
.text-protect h2 {
  align-self: stretch;
  font-size: 36px;
  font-weight: 800;
  line-height: 125%;
}
.text-protect p {
  color: #9ca3af;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.button-view {
  background-color: #1a56db;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  border-radius: 8px;
}

.fifth-section {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.fifth-section-right {
  padding: 80px 20px;
}
.text-restore h2 {
  align-self: stretch;
  font-size: 36px;
  font-weight: 800;
  line-height: 125%;
}
.text-restore p {
  color: #9ca3af;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.button-blue-third {
  background-color: #1a56db;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  border-radius: 8px;
}
.button-send {
  background-color: blue;
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
}
.container {
  background-color: #1f2a37;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
  padding: 96px 0px;
}
.container-describe {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}
.container-describe h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  line-height: 45px;
}
.container-describe span {
  display: flex;
  align-self: center;
  color: #9ca3af;
  font-size: 20px;
  font-weight: 300;
  width: 672px;
  line-height: 130%;
  text-align: center;
}
.first-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.second-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.third-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container button {
  background: #1f2a37;
  color: #9ca3af;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4b5563;
  border-radius: 8px;
  padding: 8px 12px;
  gap: 8px;
}
.seventh-section {
  background: #111928;
  gap: 32px;
  padding: 96px 0px;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.heading h2 {
  color: #ffffff;
  font-family: "Inter";
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  line-height: 45px;
}
.heading p {
  font-family: "Inter";
  color: #9ca3af;
  text-align: center;
  font-weight: 400;
  size: 20px;
  line-height: 30px;
}
.section-two-box {
  display: flex;
  justify-content: space-around;
}
.left-container {
  background-color: #1f2a37;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
  flex: 1 0 0;
  border: 1px solid #374151;
  border-radius: 8px;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1) 0px 2px 4px -2px
    rgba(0, 0, 0, 0.05);
}
.right-container {
  border: 1px solid #374151;
  background-color: #1f2a37;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 8px;
  padding: 32px;
  gap: 16px;
}
.right-container p {
  font-family: "Inter";
  color: #9ca3af;
  font-weight: 400;
  font-size: 16px;
}
.left-container p {
  font-family: "Inter";
  color: #9ca3af;
  font-weight: 400;
  font-size: 16px;
}
.button-blue-2 {
  color: #9ca3af;
  border-radius: 8px;
  background: var(--primary-700, #1a56db);
  padding: 10px 20px;
}
.button-deep-grey {
  color: #9ca3af;
  background: #374151;
  border: 1px solid #9ca3af;
  border-radius: 8px;
  padding: 10px 20px;
}

.heading h2 {
  font-size: 36px;
  font-weight: 800;
  line-height: 45px;
}

.heading p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.link {
  text-align: center;
  padding: 20px;
}
a {
  text-decoration: none;
}
.eighth-section {
  background: #1f2a37;
  border: 1px solid #374151;
  padding: 0 45px;
  gap: 10px;
}
.blog-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}
.blog-description h2 {
  color: white;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  line-height: 45px;
}
.blog-description p {
  color: #9ca3af;
}
.section-blog {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  gap: 16px;
}
.section-blog h3 {
  color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}

.section-blog p {
  color: #9ca3af;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}

.section-1 {
  gap: 20px;
}
.section-2 {
  margin-bottom: 15px;
}
.second-blog-card {
  border-left: 1px solid #374151;
  padding-left: 32px;
}
.third-blog-card {
  border-left: 1px solid #374151;
  padding-left: 32px;
}
.ninth-section {
  display: flex;
  align-items: center;
  padding: 96px 0px;
  flex-direction: column;
  gap: 10px;
}
.form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.form-header {
  text-align: center;
  gap: 16px;
  margin-bottom: 64px;
}
.form-header h1 {
  color: white #ffffff;
  font-size: 36px;
  font-weight: 800;
  line-height: 45px;
  text-align: center;
}
.form-header p {
  color: #9ca3af;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}
.text-input {
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}
.input-email {
  background: #4b5563;
  padding: 14px 16px;
  border: 1px solid #4b5563;
  border-radius: 8px;
  width: 100%;
}

.button-send {
  background-color: #1a56db;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  gap: 8px;
  font-weight: 500;
  line-height: 150%;
}
textarea {
  background: #4b5563;
  padding: 13px 20px 13px 20px;
  border-radius: 8px;
  border: 1px solid #4b5563;
  gap: 10px;
}
.ten-section {
  border-top: 1px solid #374151;
}
nav {
  display: flex;
  justify-content: space-around;
  background: #1f2a37;
  color: white;
  gap: 64px;
  padding: 96px 0px 64px 0px;
}
nav li {
  display: flex;
  color: #9ca3af;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  gap: 16px;
  padding-top: 15px;
}

ul {
  list-style-type: none;
}
nav h4 {
  font-weight: 600;
  font-size: 14px;
  gap: 16px;
  margin-bottom: 15px;
}

footer {
  background: #1f2a37;
  color: white;
  text-align: center;
  gap: 20px;
}
.footer-elements {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
footer img {
  width: 24px;
  height: 24px;
}
